.title {
  padding: 8px 12px;
  background-color: var(--composify-palette-surface-container);
  border-top: 1px solid var(--composify-palette-outline);
  border-bottom: 1px solid var(--composify-palette-outline);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
