.PanelRight {
  display: flex;
  flex-direction: column;
  width: 288px;
  border-left: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface);
  overflow: scroll;
}