.container {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding-top: 20px;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0 0.5rem;
  height: 20px;
  border-bottom: 1px solid var(--composify-palette-outline);
}
