.container {
  padding: 24px;
}

.plans {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid var(--docs-color-outline);
  background-color: var(--docs-color-surface);
  overflow: hidden;
}

.caption {
  float: right;
}

@media screen and (max-width: 720px) {
  .container {
    padding: 16px;
  }
}

@media screen and (max-width: 939px) {
  .plans {
    flex-direction: column;
  }
}
