.PropertyControlNode {
  display: flex;
  height: 32px;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
}
