.ViewportManager {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--composify-palette-surface-container);
}

.ViewportManager-Content {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
