.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.normal {
  display: flex;
  align-items: center;
  gap: 4px;
}

.object {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.content {
  flex: 1;
}
