.ViewportControl-ViewportList {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1rem;
}

.ViewportControl-ViewportItem {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem;
  border: 1px solid var(--composify-palette-border);
  border-radius: 0.5rem;
  background-color: var(--composify-palette-bg-surface);
}

.ViewportControl-ViewportItem:hover,
.ViewportControl-ViewportItem:active {
  opacity: 0.9;
}
