.container {
  position: relative;
  height: 20px;
  overflow: hidden;
  border-bottom: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  border: none;
  border-left: 2px solid var(--composify-palette-outline);
  border-right: 2px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
  transition: all 0.15s linear;
}

.item:first-child {
  border: none;
  left: 0;
  right: 0;
}

.highlight {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--composify-palette-surface-container-highest);
  transition: all 0.1s linear;
}

.item:hover .highlight {
  z-index: 1;
  opacity: 0.7;
}

.label {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  font-size: 0.75rem;
  color: var(--composify-palette-on-surface);
}

.item:hover .label {
  z-index: 2;
  opacity: 1;
}
