.Droppable:only-child {
  position: static;
  width: 100%;
  height: 100%;
}

.Droppable--active {
  display: block;
  position: static;
  min-width: 1rem;
  min-height: 1rem;
}

.Droppable--active {
  border: 1px dotted var(--composify-palette-primary);
}

.Droppable[data-composify-active="false"]:empty {
  display: none;
}

.Droppable--active[data-composify-dragging="true"]:not(:only-child),
[data-composify-role="draggable"][data-composify-dragging="true"] .Droppable--active:not(:only-child),
[data-composify-role="draggable"][data-composify-dragging="true"] + .Droppable--active,
.Droppable--active:not(:only-child):has(+ [data-composify-role="draggable"][data-composify-dragging="true"]) {
  display: none;
}

.Droppable--over {
  background-color: var(--composify-palette-primary);
  opacity: 0.8;
}
