/** biome-ignore-all lint/complexity/noImportantStyles: to override styles */
.droppable:only-child {
  position: static;
  width: 100%;
  height: 100%;
}

.droppable[data-active="true"] {
  display: block;
  position: static;
  min-width: 16px;
  min-height: 16px;
}

.droppable[data-active="true"] {
  border: 1px dotted var(--composify-palette-primary);
}

.droppable[data-active="false"]:empty {
  display: none;
}

.droppable[data-active="true"][data-dragging="true"]:not(:only-child),
[data-composify-role="draggable"][data-dragging="true"] .droppable[data-active="true"]:not(:only-child),
[data-composify-role="draggable"][data-dragging="true"] + .droppable[data-active="true"],
.droppable[data-active="true"]:not(:only-child):has(+ [data-composify-role="draggable"][data-dragging="true"]) {
  display: none;
}

.droppable[data-over="true"] {
  background-color: var(--composify-palette-primary);
  opacity: 0.8;
}

.droppable[data-fullscreen="true"] {
  display: block !important;
  position: fixed !important;
  width: auto !important;
  height: auto !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
