.Droppable:first-child {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Droppable:only-child {
  position: static;
  width: 100%;
  height: 100%;
}

.Droppable--active {
  position: static;
  min-width: 1rem;
  min-height: 1rem;
}

.Droppable--active:not(:first-child) {
  border: 0.0625rem dotted var(--composify-palette-active);
}

.Droppable--active:last-child:not(:only-child) {
  flex: 1;
}

.Droppable--active:first-child:not(:only-child) {
  display: none;
}

.Droppable--active[data-composify-dragging="true"]:not(:only-child),
[data-composify-role="draggable"][data-composify-dragging="true"] .Droppable--active:not(:only-child),
[data-composify-role="draggable"][data-composify-dragging="true"] + .Droppable--active,
.Droppable--active:not(:only-child):has(+ [data-composify-role="draggable"][data-composify-dragging="true"]) {
  display: none;
}

.Droppable--over {
  background-color: var(--composify-palette-active);
  opacity: 0.8;
}
