.PropertyControlNumber {
  flex: 1;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.4;
  outline: none;
  border: 1px solid var(--composify-palette-outline);
  border-radius: 0.25rem;
  color: var(--composify-palette-on-surface);
  background-color: var(--composify-palette-surface-container-low);
}

.PropertyControlNumber:focus {
  border-color: var(--composify-palette-primary);
}
