.container {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid var(--docs-color-outline);
  aspect-ratio: 1 / 0.5;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

html[class="dark"] .light {
  display: none;
}

html:not([class="dark"]) .dark {
  display: none;
}
