.footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--docs-color-outline);
  background-color: var(--docs-color-surface);
  padding-top: 32px;
}

footer[data-layout="docs"] > .footer {
  display: none;
}

@media (max-width: 1080px) {
  .footer {
    flex-direction: column;
  }
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.logo {
  height: 32px;
}

html[class="dark"] .light {
  display: none;
}

html:not([class="dark"]) .dark {
  display: none;
}

.copyright {
  margin: 0;
  padding: 4px 0;
  font-size: 0.75rem;
  color: var(--docs-color-on-surface-variant);
}

.footerTitle {
  margin: 0 0 16px 0;
  font-size: 1rem;
  color: var(--docs-color-on-surface);
  font-weight: bold;
}

.footerLink {
  font-size: 1rem;
  color: var(--docs-color-on-surface-variant);
  height: 2rem;
}
