@import "tailwindcss";
@import "tw-animate-css";

@source "../src";

@theme inline {
  --spacing: var(--spacing);
  --color-background: var(--background);
  --color-background-variant: var(--background-variant);
  --color-foreground: var(--foreground);
  --color-foreground-variant: var(--foreground-variant);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
}

:root {
  --spacing: 1px;
  --background: rgb(255, 255, 255);
  --background-variant: rgb(250, 250, 250);
  --foreground: rgb(30, 30, 30);
  --foreground-variant: rgb(80, 80, 80);
  --primary: rgb(59, 130, 246);
  --primary-dark: #2563eb;
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(60, 60, 60);
  --secondary-foreground: rgb(255, 255, 255);
  --muted: rgb(240, 240, 240);
  --accent: rgb(245, 245, 245);
  --accent-foreground: rgb(30, 30, 30);
  --border: rgb(229, 229, 229);

  --vocs-topNav_height: 64px;
  --vocs-topNav_horizontalPadding: 24px;
  --vocs-fontWeight_regular: 400;
  --vocs-fontWeight_medium: 500;
  --vocs-fontWeight_semibold: 600;
}

@media screen and (max-width: 1080px) {
  :root {
    --vocs-topNav_height: 52px;
    --vocs-topNav_horizontalPadding: 16px;
    --vocs-content_horizontalPadding: 16px;
  }
}

@layer base {
  * {
    @apply border-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Logo */
.vocs_DesktopTopNav_logo {
  @apply flex;
  @apply items-center;
}

.vocs_Sidebar_logo {
  @apply p-0;
}

.vocs_DesktopTopNav_logo > a {
  @apply !h-36;
  @apply !m-0;
}

.vocs_Sidebar_logo > a {
  @apply !h-36;
  @apply !m-0;
}

.vocs_MobileTopNav_logo > a {
  @apply !h-32;
  @apply !m-0;
}

.vocs_NavLogo_logoImage {
  height: 100%;
}

/* Link */
.vocs_NavigationMenu_link {
  @apply text-base;
  @apply text-foreground;
  @apply transition-colors;
}

.vocs_NavigationMenu_link:hover {
  @apply text-primary;
}

/* Mobile navigation padding */
.vocs_MobileTopNav {
  padding: 0 16px;
}

/* Search bar */
.vocs_DesktopTopNav {
  @apply flex-row-reverse;
  @apply justify-start;
  @apply gap-12;
}

/* Table */
.vocs_TableRow .vocs_TableHeader {
  @apply text-foreground;
  @apply font-semibold;
}

.vocs_Table .vocs_TableRow:nth-child(2n) {
  @apply bg-transparent;
}

.vocs_TableCell:nth-child(1):has(strong) {
  @apply font-medium;
  @apply bg-background-variant;
}

.vocs_TableCell:nth-child(1) strong {
  @apply text-foreground;
  @apply font-semibold;
}

/* Preview */
.vocs_Tabs_content[id*="content-Preview"] {
  background: var(--vocs-color_background);
}

/* Theme */
.vocs_ThemeToggle {
  @apply hidden;
}

/* Footer */
.vocs_Footer {
  @apply max-w-[unset];
  @apply p-24;
}

.vocs_Footer:not([data-layout="docs"]) {
  @apply items-stretch;
}

.vocs_Footer[data-layout="docs"] > #footer {
  @apply hidden;
}

/* Landing layout */
.vocs_DocsLayout[data-layout="landing"] .vocs_DocsLayout_gutterTop {
  @apply relative;
}

.vocs_DocsLayout[data-layout="landing"] .vocs_DocsLayout_content {
  @apply max-w-[unset];
  @apply pt-0;
  margin-left: calc(var(--vocs_DocsLayout_leftGutterWidth) - var(--vocs-sidebar_width));
  margin-right: calc(var(--vocs_DocsLayout_leftGutterWidth) - var(--vocs-sidebar_width));
}

.vocs_DocsLayout[data-layout="landing"] .vocs_Content {
  @apply max-w-[unset];
  @apply p-0;
}

.vocs_DocsLayout[data-layout="landing"] .vocs_Socials {
  @apply hidden;
}

/* Demo layout */
.vocs_DocsLayout[data-layout="demo"] .vocs_DocsLayout_gutterTop {
  @apply hidden;
}

.vocs_DocsLayout[data-layout="demo"] .vocs_DocsLayout_gutterTopCurtain {
  @apply hidden;
}

.vocs_DocsLayout[data-layout="demo"] .vocs_DocsLayout_gutterLeft {
  @apply hidden;
}

.vocs_DocsLayout[data-layout="demo"] .vocs_DocsLayout_content {
  @apply max-w-[unset];
  @apply pt-0;
  margin-left: unset;
  margin-right: unset;
}

.vocs_DocsLayout[data-layout="demo"] .vocs_Content {
  @apply max-w-[unset];
  @apply p-0;
}

.vocs_DocsLayout[data-layout="demo"] .vocs_Footer {
  @apply hidden;
}

/* Minimal layout */
.vocs_DocsLayout[data-layout="minimal"] .vocs_DocsLayout_gutterTop {
  @apply relative;
}

.vocs_DocsLayout[data-layout="minimal"] .vocs_DocsLayout_content {
  @apply max-w-[unset];
  @apply pt-0;
  margin-left: calc(var(--vocs_DocsLayout_leftGutterWidth) - var(--vocs-sidebar_width));
  margin-right: calc(var(--vocs_DocsLayout_leftGutterWidth) - var(--vocs-sidebar_width));
}

.vocs_DocsLayout[data-layout="minimal"] .vocs_Content {
  @apply max-w-[unset];
  @apply p-24;
}

.vocs_DocsLayout[data-layout="minimal"] .vocs_Socials {
  @apply hidden;
}
