.feature {
  padding: 48px;
  border-radius: 4px;
  border: 1px solid var(--ifm-color-outline);
  background-color: var(--ifm-color-surface);
  overflow: hidden;
}

.wide {
  grid-column: 1 / span 2;
}

.title {
  margin: 0;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--ifm-color-on-surface);
}

.description {
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.4;
  color: var(--ifm-color-on-surface-variant);
}

@media (max-width: 996px) {
  .feature {
    padding: 28px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 16px;
  }
}
