.frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
}

.item {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 8px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--composify-palette-on-surface-variant);
}

.item--active {
  background-color: var(--composify-palette-secondary);
  color: var(--composify-palette-on-secondary);
}

.item > * {
  height: 16px;
}
