@import "tailwindcss";
@import "nextra-theme-docs/style.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --spacing: var(--spacing);
  --color-background: var(--background);
  --color-background-variant: var(--background-variant);
  --color-foreground: var(--foreground);
  --color-foreground-variant: var(--foreground-variant);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
}

:root {
  --spacing: 1px;
  --background: oklch(1 0 0);
  --background-variant: oklch(0.991 0.0012 250.7);
  --foreground: oklch(0.13 0.028 261.692);
  --foreground-variant: oklch(0.3977 0 0);
  --primary: oklch(0.623 0.214 259.815);
  --primary-dark: #2563eb;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.21 0.034 264.665);
  --secondary-foreground: oklch(0.967 0.003 264.542);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --background-variant: oklch(0.18 0.032 260.5);
  --foreground: oklch(0.985 0.002 247.839);
  --foreground-variant: oklch(0.8 0.015 255);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.85 0.02 260);
  --secondary-foreground: oklch(0.13 0.028 261.692);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
}

body {
  --nextra-content-width: 80rem;
}

@media (width >= 48rem) {
  .nextra-navbar-blur {
    border: none;
  }
}

.nextra-toc {
  display: none;
}

.content-container {
  max-width: var(--nextra-content-width);
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
