.grid {
  display: grid;
}

.grid--alignItems-stretch {
  align-items: stretch;
}

.grid--alignItems-start {
  align-items: start;
}

.grid--alignItems-center {
  align-items: center;
}

.grid--alignItems-end {
  align-items: end;
}

.grid--justifyItems-stretch {
  justify-items: stretch;
}

.grid--justifyItems-start {
  justify-items: start;
}

.grid--justifyItems-center {
  justify-items: center;
}

.grid--justifyItems-end {
  justify-items: end;
}

.grid--background-surface {
  background-color: var(--composify-palette-surface);
}

.grid--background-surface-container {
  background-color: var(--composify-palette-surface-container);
}

.grid--background-surface-container-low {
  background-color: var(--composify-palette-surface-container-low);
}

.grid--background-surface-container-lowest {
  background-color: var(--composify-palette-surface-container-lowest);
}

.grid--background-surface-container-high {
  background-color: var(--composify-palette-surface-container-high);
}

.grid--background-surface-container-highest {
  background-color: var(--composify-palette-surface-container-highest);
}
