.codePreview {
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border: 1px solid var(--ifm-color-outline);
  aspect-ratio: 1 / 0.5;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.codePreview::-webkit-scrollbar {
  display: none;
}

.codePreview div {
  margin-bottom: 0 !important;
}

@media (max-width: 996px) {
  .codePreview {
    aspect-ratio: 1 / 0.6;
  }
}

html[data-theme='dark'] .light {
  display: none;
}

html[data-theme='light'] .dark {
  display: none;
}
