.PropertyControl {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.PropertyControl-Label {
  color: var(--composify-palette-on-surface-variant);
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.PropertyControl-InputList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PropertyControl-InputItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.PropertyControl-RemoveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.25rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  fill: var(--composify-palette-secondary);
}

.PropertyControl-RemoveButton:hover {
  background-color: var(--composify-palette-surface-container);
}

.PropertyControl-AddButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.125rem;
  font-size: 0.875rem;
  cursor: pointer;
  border: 1px solid var(--composify-palette-secondary);
  border-radius: 0.25rem;
  fill: var(--composify-palette-on-secondary);
  background-color: var(--composify-palette-secondary);
}