.frame {
  display: flex;
  grid-column: 1 / -1;
}

.frame--orientation-horizontal {
  gap: 8px;
  align-items: center;
}

.frame--orientation-vertical {
  gap: 4px;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
}

.header--orientation-horizontal {
  flex: 1;
}

.header--compact {
  display: none;
}

.label {
  color: var(--composify-palette-on-surface-variant);
  font-size: 0.75rem;
  font-weight: 500;
}

.input {
  display: flex;
  flex: 2;
  gap: 4px;
}

.input > :not([data-slot="remove-button"]) {
  flex: 1;
}

.addButton {
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  font-size: 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--composify-palette-outline);
  color: var(--composify-palette-on-surface-variant);
  background-color: var(--composify-palette-surface-container-low);
  cursor: pointer;
}

.removeButton {
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.15s;
  cursor: pointer;
  color: var(--composify-palette-on-surface-variant);
}

.removeButton:hover {
  background-color: var(--composify-palette-surface-container);
}
