.container {
  display: flex;
  grid-column: 1 / -1;
}

.container--orientation-horizontal {
  gap: 8px;
}

.container--orientation-vertical {
  gap: 4px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
}

.header--orientation-horizontal {
  flex: 1;
  margin-top: 3px;
}

.header--compact {
  display: none;
}

.label {
  color: var(--composify-palette-on-surface-variant);
  font-size: 0.75rem;
  font-weight: 500;
}

.input {
  display: flex;
  align-items: center;
  flex: 2;
  gap: 4px;
}

.input > :not([data-slot="remove-button"]) {
  flex: 1;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  font-size: 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--composify-palette-outline);
  color: var(--composify-palette-on-surface-variant);
  background-color: var(--composify-palette-surface-container-low);
  cursor: pointer;
}
