.container {
  display: flex;
  flex-direction: column;
}

.category {
  padding: 8px 12px;
  border-top: 1px solid var(--composify-palette-outline);
  border-bottom: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  padding: 8px;
}
