.PropertyControlBoolean-ButtonGroup {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.125rem;
  border-radius: 0.25rem;
  border: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
}

.PropertyControlBoolean-Button {
  flex: 1;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.4;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  color: var(--composify-palette-on-surface);
  background-color: transparent;
}

.PropertyControlBoolean-Button--active {
  border-color: var(--composify-palette-secondary);
  background-color: var(--composify-palette-secondary);
  color: var(--composify-palette-on-secondary);
}
