.container {
  display: flex;
  gap: 8px;
  padding: 12px;
  border-top: 1px solid var(--composify-palette-outline);
}

.container:last-child {
  border-bottom: 1px solid var(--composify-palette-outline);
}

.input {
  flex: 1;
  padding: 0;
  font-size: 13px;
  outline: none;
  border: none;
}
