.container {
  padding: 12px;
  border-top: 1px solid var(--composify-palette-outline);
}

.label {
  font-weight: 600;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}
