.playground {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 24px 16px;
  aspect-ratio: 1 / 0.6;
  border: 1px solid var(--ifm-color-outline);
  border-radius: 4px;
  overflow: hidden;
}
