.playground {
  padding: 24px 16px;
}
.preview {
  flex: 1;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 0.6;
  border: 1px solid var(--ifm-color-outline);
  border-radius: 4px;
  overflow: hidden;
}

.mock {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100vh;
  padding: 32px;
  background-color: var(--ifm-color-surface);
}

.mockTitle {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  color: var(--ifm-color-on-surface);
}

.mockDescription {
  margin: 0;
  text-align: center;
  font-size: 40px;
  color: var(--ifm-color-on-surface-variant);
}

.description {
  margin: 16px 0;
  color: var(--ifm-color-on-surface-variant);
}