.draggable {
  display: contents;
}

.draggable > * {
  position: relative;
}

.draggable[data-selected="true"][data-dragging="false"][data-composify-type="Canvas"] > *::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--composify-palette-primary);
  z-index: 1;
  pointer-events: none;
}

.draggable[data-active="false"][data-composify-type="Canvas"] > *:hover:not(:has(.draggable:hover))::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed var(--composify-palette-primary);
  z-index: 1;
  pointer-events: none;
}
