.Draggable {
  display: contents;
}

.Draggable > * {
  position: relative;
}

.Draggable--selected[data-composify-dragging="false"] > *::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.0625rem solid var(--composify-palette-primary);
  z-index: 1;
  pointer-events: none;
}

.Draggable--idle > *:hover:not(:has(.Draggable:hover))::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.0625rem dashed var(--composify-palette-primary);
  z-index: 1;
  pointer-events: none;
}
