.Draggable {
  display: contents;
}

.Draggable > * {
  position: relative;
}

.Draggable--idle > *:hover:not(:has(.Draggable:hover))::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dashed var(--composify-palette-active);
  z-index: 1;
  pointer-events: none;
}
