.LibraryPanel {
  display: flex;
  flex-direction: column;
  max-width: 256px;
  width: 100%;
  border-right: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface);
}

.LibraryPanel-BlockList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}

.LibraryPanel-BlockItemCompact {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.LibraryPanel-BlockItem {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  overflow: hidden;
}

.LibraryPanel-BlockItem:hover {
  background-color: var(--composify-palette-surface-container);
}

.LibraryPanel-BlockItemPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
  overflow: hidden;
}

.LibraryPanel-BlockName {
  margin: 0 0.1875rem;
  font-size: 0.75rem;
  color: var(--composify-palette-on-surface);
}
