.container {
  padding: 24px;
  background-color: var(--composify-palette-surface);
}

.plain {
  padding: 0;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--composify-palette-outline);
  border-radius: 4px;
  overflow: hidden;
}

.viewport {
  display: flex;
  position: absolute;
  top: 0;
  transform-origin: center top;
  transition: all 0.1s linear;
}

.mock {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px;
}

.mockTitle {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
  color: var(--composify-palette-on-surface);
}

.description {
  margin: 16px 0;
  color: var(--composify-palette-on-surface-variant);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
