.planItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
}

.recommended {
  background-color: var(--docs-color-surface-container-low);
  border: none;
  border-left: 1px solid var(--docs-color-outline);
  border-right: 1px solid var(--docs-color-outline);
}

@media screen and (max-width: 1080px) {
  .recommended {
    border: none;
    border-top: 1px solid var(--docs-color-outline);
    border-bottom: 1px solid var(--docs-color-outline);
  }
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--docs-color-on-surface);
}

.description {
  margin: 0;
  font-size: 1rem;
  color: var(--docs-color-on-surface-variant);
}

.price {
  display: flex;
  align-items: baseline;
}

.priceAmount {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: bold;
  color: var(--docs-color-on-surface);
}

.priceInterval {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--docs-color-on-surface-variant);
}

.feature {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.375rem;
  color: var(--docs-color-on-surface);
}

.shipped {
  width: 0.875rem;
  height: 0.875rem;
  fill: var(--docs-color-primary);
}

.planned {
  width: 0.875rem;
  height: 0.875rem;
  fill: var(--docs-color-on-surface-variant);
  opacity: 0.6;
}

.featureLabel {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.featureCaption {
  color: var(--docs-color-on-surface-variant);
  opacity: 0.9;
}