.container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--composify-palette-on-surface);
  background-color: transparent;
  transition: background-color 0.15s;
}

.container[data-selected="true"] {
  background-color: var(--composify-palette-surface-container);
}

.container:hover {
  background-color: var(--composify-palette-surface-container-low);
}

.children {
  margin: 0;
  padding: 0;
  list-style: none;
}
