.segment {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
}

.option {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 3px;
  border: none;
  outline: none;
  color: var(--composify-palette-on-surface-variant);
  cursor: pointer;
}

.option--size-sm {
  height: 26px;
}

.option--size-md {
  height: 30px;
}

.option--active {
  background-color: var(--composify-palette-secondary);
  color: var(--composify-palette-on-secondary);
}

.option > svg {
  width: 16px;
}

.option > :not(svg) {
  font-size: 16px;
  line-height: 1;
}
