.textarea {
  width: 100%;
  min-height: 65px;
  padding: 8px;
  font-size: 13px;
  color: var(--composify-palette-on-surface);
  border-radius: 4px;
  border: 1px solid var(--composify-palette-outline);
  background-color: var(--composify-palette-surface-container-low);
  outline: none;
  field-sizing: content;
  transition:
    border-color 0.15s,
    opacity 0.15s;
}

.textarea:focus-visible {
  border-color: var(--composify-palette-primary);
}

.textarea:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

.textarea::placeholder {
  color: var(--composify-palette-on-surface-variant);
}
