:root {
  --composify-palette-bg-surface: #FFFFFF;
  --composify-palette-bg-surfaceContainer: #F9FAFB;

  --composify-palette-border: #E5E7EB;
  --composify-palette-active: #3B82F6;

  --composify-palette-on-surface: #1A1A1A;

  --composify-palette-black: #000000;
}
