.container {
  flex: 1;
  display: flex;
  height: 100svh;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container * {
  box-sizing: border-box;
}

.separator {
  width: 1px;
  background-color: var(--composify-palette-outline);
}
